.loadingInfo {
  background: rgb(187, 185, 185);
  border-radius: 3px;
  color: transparent;
}

main {
  @include mainMixin;
}

.item {
  cursor: pointer;
  filter: brightness(0.8);
}

img {
  @include imageCss(5px);
}

.beforeShow {
  position: relative;
  background: $primary-bg-color;
  animation: $primary-animation;
  //min-height: 30rem;
  @keyframes pulse-bg {
    0% {
      background-color: #ddd;
    }
    50% {
      background-color: #d0d0d0;
    }
    100% {
      background-color: #ddd;
    }
  }
}

@media screen and (max-width: 767px) {
  //works for smaller screen
  .beforeShow {
    width: 20rem;
    margin: auto;
  }
  img {
    height: 20rem;
  }
}

@media screen and (min-width: 768px) {
  //works for bigger screen
  main {
    @include mainLargerScreen;
  }

  @include masonryGrid;

  .animateImg-enter-active {
    transition: all 2s;
  }
}

.animateImg-enter,
.animateImg-leave-to {
  transform: scale(0);
  opacity: 0;
}

.animateImg-enter-to {
  transform: scale(1.01);
  opacity: 1;
}

@for $i from 1 through 6 {
  .imgFromApi:nthchild(#{$i}) {
    transition-delay: ($i * 0.9)+0.4s;
  }
}

.imgFromAPi {
  z-index: 3;
}

.otherInfo {
  position: absolute;
  left: 6%;
  bottom: 7%;
  color: $main-white;
  display: inline-block;
  font-size: $font-size-small;
  font-family: $primary-font-family;
}
.location {
  margin-top: 0.4rem;
  font-size: 0.85rem;
}
